*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none !important;
}
body {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1401px;
	width: 100%;
	/*padding-right: 15px;*/
	/*padding-left: 15px;*/
	margin: 0 auto;
}
.nav {
	margin-top: 36px;
	margin-bottom: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.nav__row a {
	margin-right: 40px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 16px;
	color: #1F2428;
}
.contact__block {
	display: flex;
}
.user__block {
	margin-right: 42px;
	display: flex;
	/*width: 100%;*/
	/*max-width: 73px;*/
	align-items: center;
	justify-content: space-between;
}
.user__block p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 16px;
	color: #1F2428;
}
.user__block img{
	margin-right: 11px;
}
.btn__call {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    height: 48px;
    width: 170px;
    border: none;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
	box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
	border-radius: 36px;
    cursor: pointer;
}
.section__intro {
	margin: 0 auto;
	width: 100%;
	max-width: 1800px;
	background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
	border-radius: 36px;
}
.intro {
	padding-top: 54px;
	padding-bottom: 54px;
	width: 100%;
	max-width: 1340px;
	display: flex;
	align-items: center;
}
.intro__left {
	display: flex;
	flex-direction: column;
	margin-right: 52px;
	width: 100%;
	max-width: 715px;
}
.intro__left h1 {
	font-weight: 800;
	font-size: 72px;
	line-height: 80px;
	color: #FFFFFF;
}
.intro__left p {
	margin-top: 8px;
	margin-bottom: 36px;
	font-weight: 300;
	font-size: 20px;
	line-height: 42px;
	color: #FFFFFF;
}
.section--last {
	margin-top: 160px;
}
.section__title {
	font-weight: 800;
	font-size: 44px;
	line-height: 50px;
	color: #1F2428;		
}
.nav__bar {
	display: flex;
	align-items: center;
	margin-top: 40px;
	width: 100%;
	max-width: 1400px;
	height: 100px;
	background: #FFFFFF;
	box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
	border-radius: 16px;
}
.arrow__left, .arrow__right {
	/*width: 100%;*/
	/*max-width: 70px;*/

	display: flex;
	align-items: center;
	vertical-align: center;
}
.arrow__left {
	padding-left: 27px;
	/*margin-left: 27px;*/
}
.arrow__right {
	padding-right: 27px;
	/*margin-left: 15px;*/
}
.nav__list {
	height: 100%;
	display: flex;
	align-items: center;
	width: 100%;
	min-width: 1260px;
	justify-content: space-between;
}
.nav__list .list__item {
	height: 100%;
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	transition: all .2s;
}
.nav__list .list__item:hover {
	background: #F2F6FC;
}
.nav__list .list__item img {
	margin-right: 17px;
	margin-left: 20px;
	width: 52px;
	height: 52px;
}
.nav__list .list__item p {
	font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* 1 */

color: #1F2428;

}
.price__right__title, .price__left__title {
	font-weight: 700;
	font-size: 26px;
	line-height: 36px;
	color: #1F2428;
}
.price__right, .price__left {
	width: 400px;
	
}
.price__center {
	width: 500px;
	height: 475px;
	background: url(../img/bg-1.png) center no-repeat;
}
.price__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 47px;

}
.price__rus, .price__uk {
	background: #F2F6FC;
	border-radius: 16px;
	margin-top: 26px;
	display: flex;
	align-items: center;

}
.price__rus, .price__uk img {
	padding-left: 34px;
	padding-top: 33px;
	padding-bottom: 33px;
}

.price__text {
	padding-left: 28px;
}
.name__price {
	font-weight: 400;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */


/* 1 */

color: #1F2428;
}
.price__left .number__price {
	font-weight: 700;
font-size: 26px;
line-height: 36px;
/* identical to box height, or 138% */


/* 1 */

color: #1F2428;
}
.price__right .number__price {
	font-weight: 700;
font-size: 26px;
line-height: 36px;
/* identical to box height, or 138% */


/* 7 */

color: #01CD7D;

}
.product__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product__right, .product__left {
	display: flex;
	align-items: center;
	
}
.arrow__prod--r {
	margin-right: 40px;
}
.arrow__prod--l {
	margin-left: 40px;
}
.next__img, .prev__img {
	background: url(../img/bg-2.png) center no-repeat;
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.delivery__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	/* identical to box height, or 133% */

	text-align: center;

	/* 1 */

	color: #1F2428;

}
.sale__price {
	font-weight: 700;
font-size: 26px;
line-height: 36px;
/* identical to box height, or 138% */

text-align: center;

/* 1 */

color: #1F2428;
}

.advantage {
	background: #FFFFFF;
	box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
	border-radius: 16px;
	padding: 20px;
}
.advantage__item {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #1F2428;
}
.advantage {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.section__advantage {
	margin-top: 160px;
	margin-bottom: 160px;
}
.advantage__item {
	padding-top: 33px;
	padding-bottom: 47px;
	display: flex;
	align-items: center;
	border-right: 1px solid #C0C9D7;
	padding-right: 50px;
}
.advantage__item img {
	margin-right: 26px;
	width: 60px;
	height: 60px;
}
.advantage__item:last-child {
	border: none;
}
.intro__right--2 {
	margin-right: 75px;
}
.section__intro--2 h1 {
	font-weight: 700;
font-size: 30px;
line-height: 40px;
/* or 133% */


/* 4 */

color: #FFFFFF;
}
.section__intro--2 p {
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */


/* 4 */

color: #FFFFFF;
}
.section__intro--2 {
	margin-bottom: 160px;
}
.delivery input {
	border: none;
	
    border-bottom: 1px solid #222;
    padding: 20px;
    font-weight: 300;
font-size: 16px;
line-height: 16px;
padding-left: 37px;
/* identical to box height, or 100% */


/* 2 */

color: #222222;
}
.delivery__title {
	font-weight: 800;
	font-size: 44px;
	line-height: 56px;
	color: #1F2428;
}
.delivery__description {
	font-weight: 300;
	font-size: 20px;
	line-height: 36px;
	color: #1F2428;
}
.delivery__block {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	background: #FFFFFF;
	box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
	border-radius: 16px;
	padding-left: 35px;
	padding-top: 46px;
	padding-bottom: 50px;
	padding-right: 34px;
	margin-bottom: 80px	;
}
.delivery__block__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
}
.delivery__block__item .text {
	font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */


/* 2 */

color: #222222;
}
.delivery .input1 {
	background: url(../img/icon__input1.png) no-repeat 3px 1px;
    background-size: 26px 26px;
    background-position: 0px 50%;
}
.delivery .input2 {
	background: url(../img/icon__input2.png) no-repeat 3px 1px;
    background-size: 26px 26px;
    background-position: 0px 50%;
}
.delivery .input3 {
	background: url(../img/icon__input3.png) no-repeat 3px 1px;
    background-size: 26px 26px;
    background-position: 0px 50%;
}
.delivery .input4 {
	background: url(../img/icon__input4.png) no-repeat 3px 1px;
    background-size: 26px 26px;
    background-position: 0px 50%;
}
.delivery .input5 {
	background: url(../img/icon__input5.png) no-repeat 3px 1px;
    background-size: 26px 26px;
    background-position: 0px 50%;
}
.datalist {
	display: block;
}
.delivery__block-1 {

}
.shipping__options {
	margin-top: 30px;
}
.shipping__options {
	display: flex;
	flex-direction: column;
}
.options {
	display: flex;
	justify-content: space-between;
	padding-left: 29px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 22px;
	background: #FFFFFF;
	box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
	border-radius: 16px;
	margin-bottom: 20px;
}
.options:last-child {
	margin-bottom: 0;
}
.shipping__left {
	display: flex;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.shipping__options h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #1F2428;
}
.shipping__options img {
	width: 52px;
	height: 52px;
	margin-right: 27px;
}
.shipping__item {
	display: flex;
	flex-direction: column;
	padding-left: 45px;
	border-left: 1px solid #C0C9D7;
	padding-right: 50px;
	justify-content: center;
}
.shipping__title {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #222222;
	margin-bottom: 6px;
}
.shipping__text {
	font-weight: 700;
	font-size: 20px;
	line-height: 16px;
	color: #222222;
	padding-right: 7px;
}
.shipping__right {
	display: flex;
	/*width: 100%;*/
	/*max-width: 690px;*/
}
.shipping__drop {
	display: flex;
	align-items: center;
}
.img__info {
	width: 16px !important;
	height: 16px !important;
}
.drop {
	width: 14px !important;
	height: 7px !important;
}
.shipping__item:last-child {
	padding-left: 16px;
	padding-right: 22px;
}
.step__caption {
	font-weight: 800;
	font-size: 44px;
	line-height: 56px;
	color: #1F2428;
}
.step__caption {
	margin-top: 160px;
	width: 100%;
	max-width: 695px;
	margin-bottom: 14px;
}
.step {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.step__item h3 {
	margin-top: 16px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #1F2428;
}
.step__item p {
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #1F2428;
	margin-top: 7px;
}
.step__text {
	margin-top: 50px;
	font-weight: 300;
	font-size: 20px;
	line-height: 36px;
	color: #1F2428;
	margin-bottom: 30px;
}
.step__shipping {
	margin-bottom: 150px;
}
.excellence__caption {
	font-weight: 800;
	font-size: 44px;
	line-height: 56px;
	color: #1F2428;
	margin-bottom: 20px;
	width: 100%;
	max-width: 834px;
}
.excellence__text {
	margin-bottom: 40px;
	font-weight: 300;
	font-size: 20px;
	line-height: 36px;
	color: #1F2428;
}
.excellence__text-1 {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #1F2428;
	margin-top: 30px;
}
.excellence__text-2 {
	width: 100%;	
	max-width: 363px;	
	margin-top: 10px;
	font-weight: 300;
font-size: 16px;
line-height: 26px;

/* or 162% */


/* 1 */

color: #1F2428;
}
.excellence {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}
.excellence__item {
	background: #FFFFFF;
	box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
	border-radius: 16px;
	width: 100%;
	max-width: 447px;
	padding-bottom: 50px;
	padding-left: 37px;
	padding-top: 40px;
}
.reviews__item {
	background: #FFFFFF;
	box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
	border-radius: 16px;
	padding: 10px;
	display: flex;
	width: 100%;
	max-width: 685px;
	margin-bottom: 30px;
}
.review__img {
	border-radius: 8px;
	width: 240px;
	height: 240px;
}
.review__img-1 {
	padding-right: 38px;
}
.reviews {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.review__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rev__name {
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	/* identical to box height, or 111% */


	/* 1 */

	color: #1F2428;
	padding-bottom: 6px;
}
.rev__stars {
	padding-bottom: 14px;
}
.rev__comment {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;

	color: #1F2428;
}
.rev__inf {
	font-weight: 700;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* 1 */

color: #1F2428;
}
.rev__inf2 {
	font-weight: 300;
font-size: 14px;
line-height: 24px;
/* or 171% */


/* 1 */

color: #1F2428;
}
.rev__info__inner-2 {
	display: flex;

}
.rev__inf {
	display: flex;
	flex-direction: column;
}
.rev__inf2 {
	margin-left: 15px;
}
.section__reviews {
	margin-bottom: 150px;
}
.information__caption {
	font-weight: 800;
	font-size: 44px;
	line-height: 56px;
	color: #1F2428;
	margin-bottom: 12px;
}
.section__information p {
	font-weight: 300;
	font-size: 18px;
	line-height: 36px;olor: #1F2428;
}
.section__information {
	margin-bottom: 150px;
}
.intro__right--3 {
	width: 100%;
	max-width: 482px;
	margin-right: 114px;
}

.intro__right--3 h1 {
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
}
.intro__left input {
 	background: url(../img/email.png) no-repeat 3px 1px;
    background-size: 26px 26px;
    background-position: 0px 0px;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 28px;
    padding-left: 41px;
    font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
}
.intro__left--modded {
	width: 100%;
	max-width: 500px;
}
.intro__left input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
.intro__left input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFFFFF;
}
.intro__left input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF;
}
.intro__left input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFFFFF;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	padding-top: 70px;
	padding-bottom: 55px;
}
.footer__logo {
	width: 190px;
	height: 47px;
	margin-bottom: 34px;
}
.social__icon {
	display: flex;
	align-items: center;
}
.socail__ic {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	margin-right: 5px;

}
.wh {
	border: 1px solid #0DC143;
}
.vb {
	border: 1px solid #675DA9;
}
.ms {
	border: 1px solid #41B7E9;
}
.footer__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #1F2428;
	margin-bottom: 15px;
}
.footer__item p {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #1F2428;
	margin-bottom: 12px;
}
.section__author {
	width: 100%;
	margin: 0 auto;
	max-width: 1800px;
	padding-top: 33px;
	padding-bottom: 33px;
	border-top: 2px solid #C0C9D7;
}
.section__author p {
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	color: #1F2428;
}